    $color_blue:blue;
    $color_green:green;
    $color_orange:orange;
    $color_red: red;
    
     $border_left:100px solid $color_blue;
     $border_right:100px solid $color_green;
     $border_up: 100px solid $color_orange;
     $border_down: 100px solid $color_red;
     $spacer:50px;
